* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
    sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f8f8f8;
}
a {
  color: inherit;
  text-decoration: none;
}
input[type='text'],
input[type='password'] {
  border: none;
  padding: 6px 10px;
  outline: none;
  background-color: #ffffff;
  -webkit-appearance: none;
  color: #666;
  font-size: 14px;
}
input[type='checkbox'] {
  /* -webkit-appearance: none; */
  background-color: #ffffff;
  border: none;
}
input[disabled] {
  background-color: #ddd;
  cursor: not-allowed !important;
}
textarea {
  resize: none;
  border: none;
  margin: 0;
  display: block;
  line-height: 1.3;
}
button.btn {
  border-radius: 5px;
  border: none;
  outline: none;
  color: #666;
  cursor: pointer;
  background-color: #fff;
  -webkit-appearance: button;
}
button:active {
  background-color: #ddd;
}
button[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}
.p-15 {
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px 0;
}
.toast-wrp {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.toast-wrp .tips {
  position: fixed;
  z-index: 55;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  user-select: none;
  padding: 0 20px;
  white-space: nowrap;
}

.com-wrp {
  padding: 25px;
  background-color: #009688;
  border-radius: 5px;
  box-shadow: 0 0 8px 0px rgba(0, 150, 136, 0.6);
  color: #ffffff;
  font-size: 16px;

  display: flex;
  flex-direction: column;
}

/* 登录 */
.login-wrp {
  width: 350px;
}
.login-wrp .title {
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
.login-wrp .item {
  margin-bottom: 15px;
}
.login-wrp .item:last-child {
  margin-bottom: 0;
}
.login-wrp .item .label {
  display: inline-block;
  margin-bottom: 6px;
}
.login-wrp .item .inp{
  overflow: hidden;
  border-radius: 5px;
}
.login-wrp .item .inp > input {
  width: 100%;
}
.login-wrp .item.btn-wrp {
  margin-top: 20px;
  text-align: right;
}
.login-wrp .item.btn-wrp .btn {
  font-size: 16px;
  width: 100px;
  height: 30px;
}
/* 登录 end */

/* 列表 */
.listp-wrp {
  width: 700px;
  overflow: hidden;
  /* height: 100%; */
}
.listp-wrp .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 8px;
  font-weight: 600;
  flex-shrink: 0;
  border-bottom: 2px solid #fff;
}
.listp-wrp .title-btn .btn {
  margin-left: 10px;
  width: 70px;
  height: 26px;
  font-size: 14px;
}
.listp-wrp .list-tab {
  flex-shrink: 0;
  display: flex;
  /* font-size: 16px; */
  margin-bottom: 10px;
  border-bottom: 2px solid #607d8b;
}
.listp-wrp .list-tab .tab {
  padding: 5px 10px;
  cursor: pointer;
}
.listp-wrp .list-tab .tab:hover {
  background-color: #aaa;
}
.listp-wrp .list-tab .tab.active {
  background-color: #607d8b;
}

.listp-wrp .list-cont {
  min-height: 300px;

  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.listp-wrp .list-cont .item {
  padding: 5px 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.6);
  margin-bottom: 10px;
  cursor: pointer;
}
.listp-wrp .list-cont .item:not(.tips):hover {
  background-color: #aaa;
}
.listp-wrp .list-cont .item > a {
  display: flex;
}
.listp-wrp .list-cont .item .url {
  flex-grow: 1;
}
.listp-wrp .list-cont .item .url,
.listp-wrp .list-cont .item .type,
.listp-wrp .list-cont .item .time,
.listp-wrp .list-cont .item .status {
  margin: 0 10px;
  line-height: 24px;
}
.listp-wrp .list-cont .item.tips {
  text-align: center;
  font-size: 14px;
  border-bottom: none;
  opacity: 0.9;
  cursor: default;
}

/* 列表 end */

/* 编辑 */
.eidtor-wrp {
  width: 700px;
  min-height: 314px;
}
.eidtor-wrp .title {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 8px;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}
.eidtor-wrp .title>p{
  flex-shrink: 0;
}
.eidtor-wrp .title-btn{
  text-align: right;
}
.eidtor-wrp .date-wrp{
  flex-shrink: 0;
}
.eidtor-wrp .item {
  display: flex;
  margin-bottom: 15px;
}
.eidtor-wrp .item .label {
  width: 70px;
}
.eidtor-wrp .item .inp-url,
.eidtor-wrp .item .inp-dtp {
  width: 200px;
}
.eidtor-wrp .item .inp-dtp {
  user-select: none;
  cursor: pointer;
}
.eidtor-wrp .item .inp-checkbox {
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  height: 20px;
}
.eidtor-wrp .item .inp-checkbox input[type='checkbox'],
.eidtor-wrp .item .inp-checkbox span {
  vertical-align: middle;
}
.eidtor-wrp .item .inp-checkbox input[type='checkbox'] {
  display: none;
}
.eidtor-wrp .item .inp-checkbox input + .icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  padding: 2px 2px;
  line-height: 1;
  border-radius: 50%;
  margin-right: 5px;
  color: #666;
}
.eidtor-wrp .item .inp-checkbox input + .icon .iconfont{
  visibility: hidden;
}
.eidtor-wrp .item .inp-checkbox input:checked + .icon .iconfont{
  visibility: visible;
}
.eidtor-wrp .title-btn .btn {
  margin-left: 10px;
  width: 70px;
  height: 26px;
  font-size: 14px;
}
.eidtor-wrp .btn-add,
.eidtor-wrp .btn-sub {
  font-size: 20px;
  font-weight: 600;
  width: 28px;
  line-height: 26px;
  margin-left: 15px;
  vertical-align: top;
  align-self: flex-start;
}
.eidtor-wrp .item-list .list-wrp {
  flex-grow: 1;
}
.eidtor-wrp .cont-item {
  display: flex;
  margin-bottom: 20px;
}
.eidtor-wrp .cont-item:last-child {
  margin-bottom: 0;
}
.eidtor-wrp .item-wrp {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
}
.eidtor-wrp .item-wrp:last-child {
  margin-bottom: 0;
}
.eidtor-wrp .item-wrp .btn-close {
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  background-color: transparent;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1;
}
.eidtor-wrp .item-wrp .btn-close:hover .eidtor-wrp .item-wrp .btn-close:active {
  color: #999;
  background-color: #eee;
}
.eidtor-wrp .btn-add-url {
  float: right;
  width: 80px;
  height: 28px;
  line-height: 28px;
}
.eidtor-wrp .inp-div {
  margin: -2px;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;
}
.eidtor-wrp .url-item-wrp .inp-div {
  flex-grow: 1;
}
.eidtor-wrp .inp-div > input,
.eidtor-wrp .inp-div > textarea {
  width: 100%;
}
.eidtor-wrp .inp-div > textarea {
  padding: 5px;
  font-size: 14px;
}
.eidtor-wrp .inp-div.err {
  border-color: #ff5722;
}
.eidtor-wrp .url-item-wrp{
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* 编辑 end */

/* 移动端适配 */
@media only screen and (max-width: 414px) {
  .container {
    justify-content: flex-start;
    padding: 0;
  }
  .com-wrp {
    width: 100% !important;
    border-radius: 0;
    flex-grow: 1;
    padding: 15px;
  }
  .login-wrp {
    padding: 30px;
    justify-content: center;
  }
  .login-wrp .item .inp > input{
    padding: 10px;
  }


  .eidtor-wrp .item-wrp{
    padding: 10px;
  }
  .eidtor-wrp .inp-div > textarea{
    height: 100px;
  }

}
